.App {
  height: 100vh;
  width: 100vw;
}

.map-container {
  height: 80vh;
  width: 100%;
  margin: 5em auto;
}

.heading {
  text-align: center;
  padding: 1em;
}

.city-modal {
  width: 400px;
  background: white;
  z-index: 20;
}
